img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 50px auto;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
  background-color: #ffffff;
}

.main-header,
.main-footer {
  background-color: #ffffff;
  display: flex;
  padding: 20px 5%;
}

.main-header {
  justify-content: flex-end;
}

.main-footer {
  justify-content: center;
  padding: 56px;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
}

nav a {
  text-decoration: none;
  color: #2d2d34;
  font-size: 12px;
  font-weight: normal;
  text-transform: uppercase;
}

.top-content {
  padding: 0 5% 40px;
}

.top-content h1 {
  font-size: clamp(40px, 10vw, 120px);
  margin: 20px;
  line-height: 0.9;
  font-weight: bold;
}

.dark-section {
  background-color: #2d2d34;
  padding: 60px 10%;
}

.dark-section h1,
.dark-section h2 {
  font-size: 40px;
  margin-bottom: 10px;
  color: #ffffff;
}

.dark-section p {
  font-size: 16px;
  color: #ffffff;
  max-width: 800px;
}

.image-grid-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin-bottom: 40px;
}

.image-grid-2 img {
  width: 100%;
  height: auto;
  display: block;
}

.side-by-side {
  display: flex;
  align-items: flex-start;
  gap: 35px;
  margin: 80px 0;
}

.side-by-side .image-container {
  flex: 40%;
}

.side-by-side .text-content {
  flex: 1;
}

.side-by-side h2 {
  margin-top: 0;
  font-size: 40px;
  line-height: 1;
  margin-top: 5px;
  margin-bottom: 5px;
}

.sezione-flex {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  align-items: center;
}

.sezione-flex img,
.sezione-flex .testo {
  flex: 1;
  min-width: 300px;
}

.sezione-flex img {
  flex: 1;
  max-width: 450px;
  height: auto;
  border-radius: 10px;
}
